<p style="color: green"><%= notice %></p>

<%= render @star %>

<div>
  <%= link_to "Edit this star", edit_star_path(@star) %> |
  <%= link_to "Back to stars", stars_path %>

  <%= button_to "Destroy this star", @star, method: :delete %>
</div>
