<p style="color: green"><%= notice %></p>

<%= render @writer %>

<div>
  <%= link_to "Edit this writer", edit_writer_path(@writer) %> |
  <%= link_to "Back to writers", writers_path %>

  <%= button_to "Destroy this writer", @writer, method: :delete %>
</div>
