<div id="<%= dom_id title %>">
  <p>
    <strong>Title:</strong>
    <%= title.title %>
  </p>

  <p>
    <strong>Title type:</strong>
    <%= title.title_type %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= title.year %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= title.image %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= title.release_date %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= title.minutes %>
  </p>

  <p>
    <strong>Plot:</strong>
    <%= title.plot %>
  </p>

  <p>
    <strong>Countries:</strong>
    <%= title.countries %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= title.rating %>
  </p>

  <p>
    <strong>Votes count:</strong>
    <%= title.votes_count %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= title.keywords %>
  </p>

</div>
